*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight:bold;
}

$colorPrincipal: rgba(114, 159, 65, 0.642);
$colorGris: rgb(235,235,235);
$sombra: 3px 12px 12px rgba(0, 0, 0, 0.762);