
@media screen and (min-width: 1000px){


#header{
    background: url(../imagenes/reel.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;

    .achedos{
        text-align: center;
        color: white;
        padding-top: 25vh;
        font-size: 150px;
    }

    .navbar{
        position: sticky;
        top: 0px;
        position: fixed;
        width: 100%;
        z-index: 999;

        .container-fluid{
            color: black;
            margin-left: 13%;

            a{
                img{
                    width: 170px;
                    
                }
            }
        }

    }

    .navbar-light{
        background: white;
        
    }

    .navbar-collapse{
        margin-right: 13%;
    }

    nav{

        ul{

            li{

                a{
                    text-decoration: none;
                    color: rgb(113,159,65);
                    font-size: 27px;
                    text-align: center;
                }

            }

        }

    }

}    


.info{
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    
    .nosotros{
        
        h1{
            font-size: 40px;
        }

        p{
            font-size: 25px;
        }
    }
}

.tienda{
    max-width: 75%;
    margin: auto;
    margin-top: 50px;

    .tituloTienda{
        margin-top: 20px;
    

    }

    .productos{

        .productos6{
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2rem;

            div{

                margin-bottom: 40px;

                img{
                    
                    width: 70%;
                }

                .cta{
                   
                     .hover-underline-animation{

                        font-size: 15px;
                     }
                       

                }
    
            }

        }

    }
    

}

.clima{

    width: 75%;
    margin: auto;
    margin-top: 50px;
}


}