* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.container .logo a img {
  width: 170px;
  height: 80px;
}

#iconoCarrito {
  color: rgba(114, 159, 65, 0.642);
}

#badgeCarrito {
  font-size: 0.8rem;
  background-color: rgba(114, 159, 65, 0.642) !important;
}

#reelImg {
  margin: 0;
  padding: 0;
  background: url(../imagenes/reel.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
}

.main .offcanvas {
  background-color: rgba(114, 159, 65, 0.642);
  color: white;
}

.main #botonEliminar {
  color: white;
}

.main #botonEliminar:hover {
  color: red;
}

.main #botonFinalizar {
  margin-top: 30px;
  font-weight: bold;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: rgba(114, 159, 65, 0.642);
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
}

.info .nosotros {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 2px white;
          box-shadow: 0 5px 2px white;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding: 5px;
  width: 80%;
}

.info .nosotros p {
  font-size: 17px;
}

.info .nosotros h1 {
  font-size: 30px;
  font-weight: bold;
}

.info .nosotros:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 12px 12px white;
          box-shadow: 0 12px 12px white;
}

#div_formulario {
  text-align: center;
}

#div_formulario #errores {
  color: red;
  font-size: 17px;
}

.tienda {
  text-align: center;
  margin-top: 50px;
}

.tienda .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
}

.tienda .productos .tituloTienda {
  margin-bottom: 30px;
}

.tienda .productos .tituloTienda h2 {
  font-size: 40px;
  font-weight: bold;
}

.tienda .productos .productos6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.tienda .productos .productos6 div {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda .productos .productos6 div h3 {
  font-weight: bold;
  font-size: 25px;
}

.tienda .productos .productos6 div button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
          box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.tienda .productos .productos6 div button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#0fd850), to(#f9f047));
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.tienda .productos .productos6 div button:hover::before {
  width: 9em;
}

.tienda .productos .productos6 div img {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.clima {
  margin-top: 50px;
}

.clima .climaContenedor {
  margin: 0;
  padding: 0;
  background-image: url(../imagenes/clima.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
  text-align: center;
}

.clima .climaContenedor .msg {
  color: white;
}

.clima .climaContenedor .msg p {
  padding: 20px;
  font-size: 20px;
}

.clima .climaContenedor .tituloClima h3 {
  color: white;
  font-weight: bold;
  padding-top: 30px;
}

.clima .climaContenedor img {
  width: 50px;
}

.clima .climaContenedor .ciudadBuscada {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.clima .climaContenedor .ciudadBuscada .busquedaCiudad {
  margin-top: 30px;
}

.clima .climaContenedor .ciudadBuscada .busquedaCiudad h2 {
  padding: 15px;
}

.clima .climaContenedor .ciudadBuscada .busquedaCiudad h2 sup {
  font-size: 0.5em;
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: orange;
}

.clima .climaContenedor .ciudadBuscada .containerB .ciudades {
  margin-bottom: 30px;
}

.clima .climaContenedor .ciudadBuscada .containerB .ciudades .ciudad {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  margin-top: 30px;
}

.clima form .input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: white;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.clima form .input:focus {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: rgba(114, 159, 65, 0.642);
}

.clima form .input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.clima form .input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.clima form .input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.clima form .input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.clima form .input:hover {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: rgba(114, 159, 65, 0.642);
}

.clima form .input::-webkit-input-placeholder {
  color: white;
}

.clima form .input:-ms-input-placeholder {
  color: white;
}

.clima form .input::-ms-input-placeholder {
  color: white;
}

.clima form .input::placeholder {
  color: white;
}

footer {
  background-color: #f1f1f1;
}

footer .container a {
  text-decoration: none;
}

footer .text-center {
  background-color: rgba(114, 159, 65, 0.642);
}

footer .text-center a {
  text-decoration: none;
}

footer .logoFooter img {
  width: 150px;
}

.contact-form {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form #formulario {
  border-radius: 10px;
}

.contact-form .form-header h3 {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  padding: 10px;
}

.contact-form .contenedor {
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
}

.contact-form .contenedor .form {
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
  border-radius: 10px;
  text-align: center;
  width: auto;
  background: rgba(114, 159, 65, 0.642);
}

.contact-form .contenedor .form .formulario__label {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.contact-form .formulario__grupo-input {
  position: relative;
}

.contact-form .formulario__input {
  width: 80%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 15px;
}

.contact-form .formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  -webkit-box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
          box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.contact-form .formulario__input-error {
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 0;
  display: none;
  color: white;
  font-weight: lighter;
}

.contact-form .formulario__input-error-activo {
  display: block;
}

.contact-form .formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.contact-form .formulario__grupo-terminos,
.contact-form .formulario__mensaje,
.contact-form .formulario__grupo-btn-enviar {
  grid-column: span 2;
}

.contact-form .formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.contact-form .formulario__mensaje-activo {
  display: block;
}

.contact-form .formulario__mensaje p {
  margin: 0;
}

.contact-form .formulario__grupo-btn-enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: rgba(114, 159, 65, 0.642);
  padding: 10px;
}

.contact-form .formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 50%;
  background-color: #ebebeb;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
}

.contact-form .formulario__btn:hover {
  background-color: rgba(114, 159, 65, 0.642);
  color: white;
}

.contact-form .formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.contact-form .formulario__mensaje-exito-activo {
  display: block;
}

.contact-form #consulta {
  height: 250px;
}

.contact-form .formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.contact-form .formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.contact-form .formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.contact-form .formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

.contact-form .formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.contact-form .formulario__grupo-incorrecto .form-label {
  color: #bb2929;
}

.contact-form .formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.contact-form .formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

@media screen and (min-width: 1000px) {
  .container .logo a img {
    width: 170px;
    height: 80px;
  }
  #iconoCarrito {
    color: rgba(114, 159, 65, 0.642);
  }
  #badgeCarrito {
    font-size: 0.8rem;
    background-color: rgba(114, 159, 65, 0.642) !important;
  }
  .info {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 50px;
  }
  .info .nosotros h1 {
    font-size: 35px;
  }
  .info .nosotros p {
    font-size: 20px;
  }
  .tienda {
    max-width: 75%;
    margin: auto;
    margin-top: 50px;
  }
  .tienda .tituloTienda {
    margin-top: 20px;
  }
  .tienda .productos .productos6 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .tienda .productos .productos6 div {
    margin-bottom: 40px;
  }
  .tienda .productos .productos6 div img {
    width: 50%;
  }
  .tienda .productos .productos6 div .cta .hover-underline-animation {
    font-size: 15px;
  }
  .clima {
    width: 75%;
    margin: auto;
    margin-top: 50px;
  }
  .clima .ciudadBuscada .containerB .ciudades {
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */