* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

#header {
  background: url(../imagenes/reel.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
}

#header .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

#header .navbar .container-fluid {
  color: black;
}

#header .navbar-light {
  background: white;
}

#header nav ul li a {
  text-decoration: none;
  color: #719f41;
  font-size: 20px;
  text-align: center;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: rgba(114, 159, 65, 0.642);
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
}

.info .nosotros {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 2px white;
          box-shadow: 0 5px 2px white;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding: 5px;
  width: 80%;
}

.info .nosotros p {
  font-size: 17px;
}

.info .nosotros h1 {
  font-size: 30px;
  font-weight: bold;
}

.info .nosotros:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 12px 12px white;
          box-shadow: 0 12px 12px white;
}

.tienda {
  text-align: center;
  margin-top: 50px;
}

.tienda .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
}

.tienda .productos .tituloTienda {
  margin-bottom: 30px;
}

.tienda .productos .tituloTienda h2 {
  font-size: 40px;
  font-weight: bold;
}

.tienda .productos .productos6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.tienda .productos .productos6 .objeto {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda .productos .productos6 .objeto h3 {
  font-weight: bold;
}

.tienda .productos .productos6 .objeto .cta {
  border: none;
  background: none;
  margin-bottom: 10px;
}

.tienda .productos .productos6 .objeto .cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
}

.tienda .productos .productos6 .objeto .cta svg {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tienda .productos .productos6 .objeto .cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tienda .productos .productos6 .objeto .cta:active svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.tienda .productos .productos6 .objeto .cta .hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 5px;
  font-size: 12px;
}

.tienda .productos .productos6 .objeto .cta .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.tienda .productos .productos6 .objeto .cta:hover .hover-underline-animation:after {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.tienda .productos .productos6 .objeto img {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.clima {
  margin-top: 50px;
}

.clima .climaContenedor {
  background-image: url(../imagenes/clima.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
          box-shadow: 3px 12px 12px rgba(0, 0, 0, 0.762);
}

.clima .climaContenedor .tituloClima {
  text-align: center;
  padding: 10px;
}

.clima .climaContenedor .tituloClima h3 {
  color: white;
  font-weight: bold;
}

.clima .climaContenedor .tituloClima p {
  color: white;
  font-weight: bold;
}

.clima .climaContenedor .tituloClima img {
  width: 50px;
}

.clima .climaContenedor .buscarClima {
  text-align: center;
  margin-bottom: 50px;
}

.clima .climaContenedor .buscarClima input {
  margin-bottom: 30px;
  border-radius: 10px;
}

footer .container a {
  text-decoration: none;
}

footer .text-center a {
  text-decoration: none;
}

footer .logoFooter img {
  width: 150px;
}

.contenedor-formulario {
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-formulario .form-label {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  font-weight: bolder;
  padding-bottom: 5px;
}

.contenedor-formulario .formulario {
  background-color: rgba(114, 159, 65, 0.642);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  border-radius: 3px;
}

.contenedor-formulario .formulario .form-textarea {
  background-color: #ebebeb;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 18px;
  color: white;
}

.contenedor-formulario .formulario .form-input {
  background-color: #ebebeb;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 18px;
  color: black;
}

.contenedor-formulario .formulario .form-header .form-titulo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contenedor-formulario .formulario .form-textarea {
  resize: vertical;
  height: 200px;
  max-height: 300px;
  min-height: 50px;
  color: black;
}

.contenedor-formulario .formulario .form-boton {
  width: 100%;
  outline: none;
  background-color: #ebebeb;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 15px 0;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.contenedor-formulario .formulario .form-boton:hover {
  background-color: rgba(114, 159, 65, 0.642);
  color: white;
}

@media screen and (min-width: 1000px) {
  #header {
    background: url(../imagenes/reel.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  #header .achedos {
    text-align: center;
    color: white;
    padding-top: 25vh;
    font-size: 150px;
  }
  #header .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  #header .navbar .container-fluid {
    color: black;
    margin-left: 13%;
  }
  #header .navbar .container-fluid a img {
    width: 170px;
  }
  #header .navbar-light {
    background: white;
  }
  #header .navbar-collapse {
    margin-right: 13%;
  }
  #header nav ul li a {
    text-decoration: none;
    color: #719f41;
    font-size: 27px;
    text-align: center;
  }
  .info {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 50px;
  }
  .tienda {
    width: 65%;
    margin: auto;
    margin-top: 50px;
  }
  .tienda .tituloTienda {
    margin-top: 20px;
  }
  .tienda .productos .productos6 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .tienda .productos .productos6 .objeto {
    margin-bottom: 40px;
  }
  .tienda .productos .productos6 .objeto img {
    width: 30%;
  }
  .tienda .productos .productos6 .objeto .cta .hover-underline-animation {
    font-size: 15px;
  }
  .clima {
    width: 75%;
    margin: auto;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */